<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lizheng.lottery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity
            android:name=".view.activity.FollowDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity
            android:name=".view.activity.ChatActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.activity.GameActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.activity.find.GameLeftActivity" />
        <activity android:name=".view.activity.find.GameRightActivity" />
        <activity android:name=".view.activity.PopupWindowActivity"
            android:theme="@style/PopupButtomWindow"></activity>
    </application>

</manifest>